---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle="My Blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <p>So here you will find a bunch of contents! What fun!</p>
  <ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
</BaseLayout>


