---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
<h2>Hello there! Welcome to my website!</h2>

  <img
    src="https://source.unsplash.com/-Go4DH2pZbc"
    alt="A picture of a puppy"/ width="300">

</BaseLayout>